<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품등록 페이지</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script>
        $(function(){

            $("#addButton").on("click", function(){
                alert("상품이 등록 되었습니다.");

            })

            $("#categorySelect").on("change", function(){
                var selectText = $("#categorySelect option:selected").text();

                $("input[name='categoryId']").val(selectText);

            })

            $("#discountCheck").on("click", function(){
                var checked = $(this).is(':checked');

                if(checked){
                    $("input[name='saleYn']").val(true);
                    $("input[name='discountRate']").val("");
                    $("input[name='discountEndDateText']").val("");
                }

                if (!checked) {
                    $("input[name='saleYn']").val(false);
                    $("input[name='discountRate']").val(0);
                    $("input[name='discountEndDateText']").val(0);
                }

            })

        });
    </script>
</head>
<body>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">상품 등록</div>
                <div class="card-body">

                    <form class="form-horizontal" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <select id="categorySelect" name="categoryId" required>
                                <option value="">카테고리 선택</option>
                                <option th:each="x : ${categoryList}" th:value="${x.categoryId}" th:text="${x.getCategoryName()}">기획</option>
                            </select>
                            <div class="cols-sm-10 mt-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="categoryId" id="categoryId" readonly required placeholder="카테고리"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productName" class="cols-sm-2 control-label">상품이름 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="productName" id="productName" required placeholder="상품 이름"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="cols-sm-2 control-label">상품상세내용 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="description" id="description" required placeholder="상품 상세"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="cols-sm-2 control-label">가격 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="price" id="price" required placeholder="0원"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity" class="cols-sm-2 control-label">재고 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="quantity" id="quantity" required placeholder="0"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="cols-sm-2 control-label">할인 여부</label>
                            <div class="cols-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="saleYn"  id="discountCheck">
                                    <label class="form-check-label" for="discountCheck">
                                        할인 시 체크 해주세요
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="discountRate" class="cols-sm-2 control-label">할인율</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="discountRate" id="discountRate" value="0" required placeholder="0.1"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="discountEndDateText" class="cols-sm-2 control-label">할인 종료일 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="discountEndDateText" id="discountEndDateText" value="0" required placeholder="0000-00-00일"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file" class="cols-sm-2 control-label">상품 이미지</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="file" class="form-control" name="file" id="file" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" id="addButton" class="btn btn-primary btn-lg btn-block login-button">상품 등록</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>