<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비밀번호 찾기</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/css/signin.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function sendResetPasswordEmail(event) {
            event.preventDefault();

            var email = $('#email').val();

            if (!email) {
                alert("이메일을 입력해주세요.");
                return;
            }
            alert("비밀번호 재설정 이메일이 발송되었습니다.");
            
            $.ajax({
                url: '/mails/password', // 비밀번호 재설정 이메일 발송 URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: email }),
                success: function(response) {
                    alert("비밀번호 재설정 이메일이 전송되었습니다.");
                },
                error: function(xhr) {
                    var errorMessage = xhr.responseJSON && xhr.responseJSON.message
                        ? xhr.responseJSON.message
                        : "서버 요청에 실패했습니다. 다시 시도해주세요.";
                    alert(errorMessage);
                }
            });
        }
    </script>
</head>
<body class="text-center">

<main class="form-signin">
    <form onsubmit="sendResetPasswordEmail(event)">
        <h1 class="h3 mb-3 fw-normal">비밀번호 찾기</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            <label for="email">이메일 주소</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">비밀번호 찾기</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024 TwoFanng</p>
    </form>
    <div>
        <a href="/">메인으로</a>
        <a href="/login">로그인</a>
    </div>
</main>

</body>
</html>
