<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>ORDER FORM </title>
</head>
<script>
    $(function () {

        $('#tabmenu1').on('click', function () {
            $('#tabmenu1').css('background-color', '#f8b390');
            $('#tabmenu1').css('color', 'white');
        });

        $("#tabmenu1").click();

        var sumBasket = 0;
        var size = $("td[name='price']").length; // 사이즈를 정확히 얻기

        for (var i = 0; i < size; i++) {
            var priceText = $($("td[name='price']")[i]).text().replace(/,/g, ""); // 모든 컴마 제거
            var price = parseInt(priceText, 10); // 또는 parseFloat 사용
            sumBasket += price;
        }

        console.log("합계:", sumBasket); // 합계 출력

        $("#totalPrice").text(comma(sumBasket) + " 원");
        $("#lastPrice").text(comma(sumBasket));
        $("#expectedPrice").text(comma(sumBasket));
        $("#finalPrice").text(comma(sumBasket) + " 원");

        function comma(str) {
            // 입력이 숫자인지 확인 후 문자열로 변환
            var num = parseFloat(str);
            if (isNaN(num)) {
                return str; // 숫자가 아닐 경우 원래 문자열 반환
            }
            // 숫자로 변환한 후 천 단위로 구분
            return num.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
        }

        $('input[name=optradio]').on('click', function () {
            var choice = $('input[name="optradio"]:checked').val();

            var orderName1 = $("input[name='orderName1']").val();
            var postNo1 = $("input[name='postNo1']").val();
            var address1 = $("input[name='address1']").val();
            var address2 = $("input[name='address2']").val();
            var middleCellPhoneNum1 = $("input[name='middleCellPhoneNum1']").val();
            var lastCellPhoneNum1 = $("input[name='lastCellPhoneNum1']").val();
            var email1 = $("input[name='email1']").val();
            var subStringEmail = email1.split('@');
            var selectEmail1 = $("#selectEmail1").val();

// 			alert(selectEmail1);

            if (choice == 1) {
                $("input[name='orderName2']").val(orderName1);
                $("input[name='postNo2']").val(postNo1);
                $("input[name='address3']").val(address1);
                $("input[name='address4']").val(address2);
                $("input[name='middleCellPhoneNum2']").val(middleCellPhoneNum1);
                $("input[name='lastCellPhoneNum2']").val(lastCellPhoneNum1);
                $("input[name='email2']").val(email1);

                if (selectEmail1 == "naver.com") {
// 					alert("11");

                    $(".selectEmail2").val($(".selectEmail2 option:eq(0)").val());
                } else if (selectEmail1 == "daum.net") {
// 					alert("22");

                    $(".selectEmail2").val($(".selectEmail2 option:eq(1)").val());
                } else if (selectEmail1 == "gmail.com") {
// 					alert("33");
// 					alert($(".selectEmail2 option:eq(2)").val());
                    $(".selectEmail2").val($(".selectEmail2 option:eq(2)").val());
                } else {
                    $(".selectEmail2").val($(".selectEmail2 option:eq(3)").val());
                }

            } else {
                $("input[name='orderName2']").val("");
                $("input[name='postNo2']").val("");
                $("input[name='address3']").val("");
                $("input[name='address4']").val("");
                $("input[name='middleCellPhoneNum2']").val("");
                $("input[name='lastCellPhoneNum2']").val("");
                $("input[name='email2']").val("");
                $("#selectEmail2").val($("#selectEmail2 option:first").val());
            }

        });




        $("input[name=buy]").on("click", function(){

            var productIndexList = "";
            var productPriceList = "";
            var productAmountList = "";
            var productUrlFileList = "";
            var productNameList = "";

            var name2 = $("input[name='orderName2']").val();
            var address3 = $("input[name='address3']").val();
            var address4 = $("input[name='address4']").val();
            var middleCellPhoneNum2 = $("input[name='middleCellPhoneNum2']").val();
            var lastCellPhoneNum2 = $("input[name='lastCellPhoneNum2']").val();
            var email2 = $("input[name='email2']").val();
            var sendName = $("input[name='sendName']").val();


            if(name2 == null || name2.length<1){
                alert("이름은 반드시 입력하여야 합니다.");
                return false;
            }
            if(address3 == null || address3.length<1){
                alert("기본주소는 반드시 입력하여야 합니다.");
                return false;
            }
            if(address4 == null || address4.length<1){
                alert("상세주소는 반드시 입력하여야 합니다.");
                return false;
            }
            if(middleCellPhoneNum2 == null || middleCellPhoneNum2.length<1){
                alert("휴대전화는 반드시 입력하여야 합니다.");
                return false;
            }
            if(lastCellPhoneNum2 == null || lastCellPhoneNum2.length<1){
                alert("휴대전화는 반드시 입력하여야 합니다.");
                return false;
            }
            if(email2 == null || email2.length<1){
                alert("이메일은 반드시 입력하여야 합니다.");
                return false;
            }

            if(sendName == null || sendName.length<1){
                alert("입금자명은 반드시 입력하여야 합니다.");
                return false;
            }


            for(i=0; i<size; i++){
                productIndexList += ($($("input[name='productIndex']")[i]).val()) + ",";
                productPriceList += parseInt($($("td[name='price']")[i]).text().replace(",", "")) + ",";
                productAmountList += ($($("input[name='productAmount']")[i]).val()) + ",";
                productUrlFileList += ($($("input[name='urlFilename']")[i]).val()) + ",";
                productNameList += ($($("input[name='productName']")[i]).val()) + ",";
            }

            $myOrderForm = $('form[name=myOrderForm]');
            $("input[name='productIndexList']").val(productIndexList);
            $("input[name='productPriceList']").val(productPriceList);
            $("input[name='productAmountList']").val(productAmountList);
            $("input[name='productUrlFileList']").val(productUrlFileList);
            $("input[name='productNameList']").val(productNameList);
            $myOrderForm.submit();
        });

        function div_OnOff(v, id) {
            if (v == "1") {
                document.getElementById(id).style.display = "";
            } else {
                document.getElementById(id).style.display = "none";

            }
        };

    });
</script>
<style>

    #wrap {
        width: 80%;
        border: 1px solid #fff;
        margin: 0 auto;
    }

    .orderForm {

        margin-top: 70px;
        text-align: center;
    }

    .explanation {
        text-align: right;
        padding-right: 10px;
        border-top: 1px solid #d4d5d8;
    }

    .explanation1 {
        margin-top: 0px;
        text-align: left;
        padding-left: 10px;
    }

    #division {
        margin-top: 30px;
    }

    #division ul {
        border-bottom: 1px solid #d4d5d8;
    }

    #division ul li {
        border-bottom: 1px solid #d4d5d8;


    }

    #division ul li a {
        background: none;
        color: #444;
        padding-left: 40px;
        padding-right: 40px;
    }

    #division ul li a:hover {
        background: #f8b390;
        color: black;
    }


    /* .active1{  */
    /*  	background-color: #f8b390;  */
    /*  	color: white;  */
    /*  }  */

    #menulist div {
        border-bottom: 1px solid #d4d5d8;
    }


    #orderlistdetail {
        padding: 10px;
        border-top: 1px solid #d4d5d8;
        border-bottom: 1px solid #d4d5d8;
    }

    #ordertable {
        text-align: center;
        margin: auto;
    }


    #ordertable tr td {
        vertical-align: middle;
        border-bottom: 1px solid #d4d5d8;
    }

    #ordertable th {
        text-align: center;
    }

    #buytable {
        text-align: center;
    }

    #buytable th {
        text-align: center;
    }


    .orderInfo ul li {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        list-style: none;
    }

    #orderInfoGroup1 li {
        margin-top: 15px;
        border-bottom: 1px solid #d4d5d8;

    }

    #orderInfoGroup2 li {
        margin-top: 15px;
        border-bottom: 1px solid #d4d5d8;

    }

</style>
<body>
<div id="wrap">
    <!-- 	<h2><strong>ORDER LIST</strong></h2> -->
    <div class="orderForm"><h2><strong>ORDER FORM</strong></h2></div>

    <div id="division">
        <ul class="nav nav-tabs" id="tabmenu">
            <li><a data-toggle="tab" href="#menu1" id="tabmenu1">주문내역</a></li>
        </ul>
        <div class="tab-content" id="menulist">
            <div id="menu1" class="tab-pane fade">
                <table class="table table-hover" id="ordertable">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Cost</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:if="${cartDtoList} != null" th:each="x : ${cartDtoList}">
                        <input type="hidden" th:value="${xStat.size}" name="size"/>
                        <input type="hidden" th:value="${x.productId}" name="productIndex"/>
                        <input type="hidden" th:value="${x.amount}" name="productAmount"/>
                        <input type="hidden" th:value="${x.urlFilename}" name="urlFilename"/>
                        <input type="hidden" th:value="${x.productName}" name="productName"/>
                        <td th:text="${#temporals.format(x.regDt, 'yyyy-MM-dd')}">날짜</td>
                        <td><img style="width: auto; height: auto; max-width: 150px; max-height: 150px;"
                                 th:src="${x.urlFilename}" class="img-thumbnail" alt="Cinque Terre"></td>
                        <td th:text="${x.productName}">상품이름</td>
                        <td th:text="${x.amount}">
                            상품수량
                        </td>
                        <td name="price" th:text="${#numbers.formatInteger(x.price, 0, 'COMMA') + ' 원'}">가격</td>
                    </tr>

                    <tr th:if="${cartDtoList} == null">
                        <input type="hidden" th:value="1" name="size"/>
                        <input type="hidden" th:value="${product.productId}" name="productIndex"/>
                        <input type="hidden" th:value="${amount}" name="productAmount"/>
                        <input type="hidden" th:value="${product.urlFilename}" name="urlFilename"/>
                        <input type="hidden" th:value="${product.productName}" name="productName"/>
                        <td th:text="${#temporals.format(registerDate, 'yyyy-MM-dd')}">날짜</td>
                        <td><img style="width: auto; height: auto; max-width: 150px; max-height: 150px;"
                                 th:src="${product.urlFilename}" class="img-thumbnail" alt="Cinque Terre"></td>
                        <td th:text="${product.productName}">상품이름</td>
                        <td th:text="${amount}">
                            상품수량
                        </td>
                        <td name="price" th:text="${#numbers.formatInteger(price, 0, 'COMMA') + ' 원'}">가격</td>
                    </tr>


                    </tbody>

                </table>


                <div class="explanation">

                    <h5>[기본배송]상품구매금액
                        <span id="sumPrice"></span>
                        + 배송비 <span id="deliveryPrice"></span>
                        = 합계 : <span style="display: inline-block; color: #f8b390"><h4 id="totalPrice">
						   </h4></span></h5>


                </div>


                <div class="explanation1">
                    <h6>상품의 옵션 및 수량 변경은 상품상세 또는 장바구니에서 가능합니다</h6>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: left; margin-top: 30px; border-bottom: 1px solid #d4d5d8"><h3><strong>주문자 정보</strong></h3>
    </div>


    <!-- 	<form action="buyState"> -->


    <form id="myOrderForm" method="post" action="/user/order/result">
        <input type="hidden" name="productIndexList" value=""/>
        <input type="hidden" name="productPriceList" value=""/>
        <input type="hidden" name="productAmountList" value=""/>
        <input type="hidden" name="productUrlFileList" value=""/>
        <input type="hidden" name="productNameList" value=""/>
<!--        <div class="orderInfo">-->
<!--            <ul class="list-group" id="orderInfoGroup1">-->
<!--                <li>-->
<!--                    <label>주문하시는 분<span style="color: red; margin-left: 3px;">*</span></label>-->
<!--                    <input type="text" name="orderName1" id="orderName1" th:value="${user.userName}"-->
<!--                           style="text-align: left; padding-left: 15px; margin-left: 30px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label>주소<span style="color: red; margin-left: 5px;">*</span></label>-->
<!--                    <input type="text" id="postNo1" name="postNo1" th:value="${user.zipcode}"-->
<!--                           style="text-align: left; padding-left: 15px; margin-left: 87px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                    <input type="button" id="searchPost" onclick="execDaumPostcode()" value="우편번호 찾기"-->
<!--                           style="margin-left: 30px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                    <div style="margin-top: 10px;">-->
<!--                        <input type="text" id="address1" name="address1" th:value="${user.addr}"-->
<!--                               style="text-align: left; padding-left: 15px; width: 400px; margin-left: 130px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"><label-->
<!--                            style="margin-left: 10px">기본주소</label><br>-->
<!--                        <input type="text" id="address2" name="address2" th:value="${user.addrDetail}"-->
<!--                               style="text-align: left; padding-left: 15px; margin-top: 10px; width: 400px; margin-left: 130px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"><label-->
<!--                            style="margin-left: 10px">상세주소</label>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label>휴대전화<span style="color: red; margin-left: 5px;">*</span></label>-->
<!--                    <input type="text" value="010" readonly="readonly"-->
<!--                           style="text-align: center; width: 80px; margin-left: 60px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                    <label>ㅡ</label>-->
<!--                    <input type="text" id="middleCellPhoneNum1" name="middleCellPhoneNum1" th:value="${middleNum}"-->
<!--                           style="text-align: center; width: 80px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                    <label>ㅡ</label>-->
<!--                    <input type="text" id="lastCellPhoneNum1" name="lastCellPhoneNum1" th:value="${lastNum}"-->
<!--                           style="text-align: center; width: 80px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label>이메일 <span style="color: red; margin-left: 5px;">*</span></label>-->
<!--                    <input type="text" id="email1" name="email1" th:value="${strEmail}"-->
<!--                           style="text-align: left; padding-left: 15px; margin-left: 70px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                    <label>@</label>-->
<!--                    &lt;!&ndash; 		        <input type="text" id="email_domain" name="email_domain" value="" style="text-align: left; padding-left: 15px; height: 24px; width: 172px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"> &ndash;&gt;-->
<!--                    <select id="selectEmail1" name="selectEmail"-->
<!--                            style="height: 24px; width: 172px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">-->
<!--                        &lt;!&ndash;                        submit 했을 때 value가 name으로 넘어감&ndash;&gt;-->
<!--                        <option value="naver.com" th:if="${emailDomain == 'naver.com' ? 'selected' : '' }">naver.com-->
<!--                        </option>-->
<!--                        <option value="daum.net" th:if="${emailDomain == 'daum.net' ? 'selected' : '' }">daum.net-->
<!--                        </option>-->
<!--                        <option value="gmail.com" th:if="${emailDomain == 'gmail.com' ? 'selected' : '' }">gmail.com-->
<!--                        </option>-->
<!--                        <option value="nate.com" th:if="${emailDomain == 'nate.com' ? 'selected' : '' }">nate.com-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div style="text-align: left; margin-top: 30px; border-bottom: 1px solid #d4d5d8"><h3><strong>배송 정보</strong>
        </h3></div>

        <div class="orderInfo">
            <ul class="list-group" id="orderInfoGroup2">
                <li>
                    <label>배송지 선택</label>
                    <label class="radio-inline" style="margin-left: 53px;">
                        <input type="radio" value="1" name="optradio"><label>주문자 정보와 동일</label>
                    </label>
                    <label class="radio-inline" style="margin-left: 33px;">
                        <input type="radio" value="2" name="optradio"><label>새로운 배송지</label>
                    </label>
                    <!-- 		    <input type="button" id="searchPost" value="주소록보기" style="margin-left: 30px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"> -->
                </li>
                <li>
                    <label>주문하시는 분<span style="color: red; margin-left: 3px;">*</span></label>
                    <input type="text" value="" id="orderName2" name="orderName2"
                           style="text-align: left; padding-left: 15px; margin-left: 30px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                </li>
                <li>
                    <label>주소<span style="color: red; margin-left: 5px;">*</span></label>
                    <input type="text" value="" id="postNo2" name="postNo2"
                           style="text-align: left; padding-left: 15px; margin-left: 87px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <input type="button" id="searchPost2" onclick="execDaumPostcode()" value="우편번호 찾기"
                           style="margin-left: 30px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <div style="margin-top: 10px;">
                        <input type="text" value="" id="address3" name="address3"
                               style="text-align: left; padding-left: 15px; width: 400px; margin-left: 130px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"><label
                            style="margin-left: 10px">기본주소</label><br>
                        <input type="text" value="" id="address4" name="address4"
                               style="text-align: left; padding-left: 15px; margin-top: 10px; width: 400px; margin-left: 130px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"><label
                            style="margin-left: 10px">상세주소</label>
                    </div>
                </li>
                <li>
                    <label>휴대전화<span style="color: red; margin-left: 5px;">*</span></label>
                    <input type="text" value="010" id="firstCellPhoneNum2" name="firstCellPhoneNum2"
                           style="text-align: center; width: 80px; margin-left: 60px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <label>ㅡ</label>
                    <input type="text" value="" id="middleCellPhoneNum2" name="middleCellPhoneNum2"
                           style="text-align: center; width: 80px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <label>ㅡ</label>
                    <input type="text" value="" id="lastCellPhoneNum2" name="lastCellPhoneNum2"
                           style="text-align: center; width: 80px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                </li>
                <li>
                    <label>이메일 <span style="color: red; margin-left: 5px;">*</span></label>
                    <input type="text" value="" id="email2" name="email2"
                           style="text-align: left; padding-left: 15px; margin-left: 70px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                    <label>@</label>
                    <select class="selectEmail2" name="selectEmail2"
                            style="height: 24px; width: 172px; border: 1px solid #d4d5d8; border-top-left-radius: 5px;border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                        <option value="naver.com">naver.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="nate.com">nate.com</option>
                    </select>
                </li>
                <li>
                    <label>배송메시지</label>
                    <!-- 	    	<input type="text" id="orderText" name="orderText" style="width: 400px; margin-left: 56px; border: 1px solid #d4d5d8; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"> -->
                    <select id="sendMessage" name="sendMessage"
                            style="padding-left: 15px; height: 24px; width: 400px; margin-left: 56px; border: 1px solid #d4d5d8; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                        <option selected="selected" value="">배송시 요청사항 선택</option>
                        <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                        <option value="부재시 휴대폰으로 연락바랍니다.">부재시 휴대폰으로 연락바랍니다.</option>
                        <option value="집 앞에 놓아주세요.">집 앞에 놓아주세요.</option>
                        <option value="택배함에 놓아주세요.">택배함에 놓아주세요.</option>
                    </select>
                </li>
            </ul>
        </div>

        <div style="text-align: left; margin-top: 30px; border-bottom: 1px solid #d4d5d8"><h3><strong>결제수단</strong></h3>
        </div>

        <label class="radio-inline" style="margin-top: 15px; margin-right: 30px; margin-left: 10px;">
            <h4><input type="radio" name="choice" checked>무통장 입금</h4>
        </label>
        <div>
            <div style="border-top: 1px solid #d4d5d8; border-bottom: 1px solid #d4d5d8; padding-top: 20px; padding-bottom: 20px;">
                <label>입금자명<span style="color: red; margin-left: 3px;">*</span></label>
                <input type="text" id="sendName" name="sendName"
                       style="width: 100px; margin-left: 56px; border: 1px solid #d4d5d8; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
            </div>
            <div style="border-top: 1px solid #d4d5d8; border-bottom: 1px solid #d4d5d8; padding-top: 20px; padding-bottom: 20px;">
                <label>입금은행</label>
                <input type="text" id="bank" name="bank" readonly="readonly" value="국민은행:046802-04-222222"
                       style="width: 300px; margin-left: 56px; border: 1px solid #d4d5d8; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
            </div>
        </div>

        <div style="text-align: left; margin-top: 30px; border-bottom: 1px solid #d4d5d8"><h3><strong>결제 예정 금액</strong>
        </h3></div>

        <table class="table table-hover" id="buytable">
            <colgroup>
                <col width="33%;">
                <col width="33%;">
                <col width="33%;">
            </colgroup>
            <thead>
            <tr>
                <th><h4>총 주문 금액</h4></th>
                <th><h4>총 할인 + 부가 결제 금액</h4></th>
                <th><h4>총 결제예정 금액</h4></th>
            </tr>
            </thead>

            <tbody>
            <tr style="border-bottom: 1px solid #d4d5d8">

                <td><h4 id="lastPrice"></h4></td>
                <td><h4 id="salePrice">0</h4></td>
                <td style="color: #f8b390"><h4 id="expectedPrice"></h4></td>
            </tr>
            </tbody>


        </table>

        <div style="text-align: right; margin-top: 30px;"><h3><strong>최종 결제 금액</strong></h3></div>
        <div style="text-align: right; margin-top: 15px;">

            <h3 style="color: #f8b390">
                <strong id="finalPrice">원</strong>
            </h3>


        </div>
        <div style="text-align: right; margin-top: 15px; margin-bottom: 80px;">
            <input style="font-size: xx-large; height: 60px; width: 350px;  border: none; color: white; background: #f8b390"
                   name="buy" type="submit" value="구매하기">

        </div>

    </form>



    <!-- 우편번호 api -->
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
             style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()"
             alt="닫기 버튼">
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 우편번호 찾기 화면을 넣을 element
        var element_layer = document.getElementById('layer');

        function closeDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_layer.style.display = 'none';
        }

        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        // document.getElementById("sample2_extraAddress").value = extraAddr;

                    } else {
                        // document.getElementById("sample2_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postNo1').value = data.zonecode;
                    document.getElementById("address1").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("address2").focus();

                    document.getElementById('postNo2').value = data.zonecode;
                    document.getElementById("address3").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("address4").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';
                },
                width: '100%',
                height: '100%',
                maxSuggestItems: 5
            }).embed(element_layer);

            // iframe을 넣은 element를 보이게 한다.
            element_layer.style.display = 'block';

            // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
            initLayerPosition();
        }

        // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
        // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
        // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
        function initLayerPosition() {
            var width = 300; //우편번호서비스가 들어갈 element의 width
            var height = 400; //우편번호서비스가 들어갈 element의 height
            var borderWidth = 5; //샘플에서 사용하는 border의 두께

            // 위에서 선언한 값들을 실제 element에 넣는다.
            element_layer.style.width = width + 'px';
            element_layer.style.height = height + 'px';
            element_layer.style.border = borderWidth + 'px solid';
            // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
            element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
            element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
        }
    </script>
</body>
</html>